@model DataAccess.Models.Club
@using Microsoft.AspNetCore.Identity;
@using DataAccess.Models; 
@using DataAccess.Utils;
@using DataAccess.IServices; 
@using DataAccess.Utils;
@inject UserManager<IdentityUser> _usrManager;
@inject IService<Location> _locationService;
@{
    ViewData["Title"] = Model?.Name;
    IdentityUser usr = null;
    bool isAdmin = false;
    IEnumerable<LnkClubUser> club_members = (IEnumerable<LnkClubUser>)ViewBag.club_members;
    if (User.Identity.IsAuthenticated)
    {
        usr = await _usrManager.FindByNameAsync(User?.Identity?.Name);
        isAdmin = User.IsInRole("admin");
    }

}

<h1>@Model.Name</h1>

<div>
    <h4>Information</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.ImageUrl" class="card-img img-fluid" alt="...">
        </div>
        <div class="col-md-6">
            @Model.Description
            @if (Model.HasMembershipFee)
            {
                <p class="text-danger mt-2">Membership is required for this club</p>
            }

            <div class="row">
                <div class="col-12 mb-3">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <h6>You need to login to join <span class="text-info">@Model.Name</span> </h6>
                        <a class="text-dark" asp-area="Identity" asp-page="/Account/Login">Please login here</a>
                    }
                    else
                    {
                        if (Utility.IsMember(Model.Id, usr.Id))
                        {
                            <p>You are a member!</p>
                        }
                        else
                        {
                            <div class="card">

                                <div class="card-body">
                                    <form method="POST" class="enrol-form" asp-controller="Home" asp-action="Enrol">
                                        <input type="hidden" name="UserId" value="@usr.Id" />
                                        <input type="hidden" name="ClubId" value="@Model.Id" />
                                        <input type="hidden" class="HasMembershipFee" name="HasMembershipFee" value="1" />
                                        @if (Model.HasMembershipFee)
                                        {
                                            <div class="row">
                                                <div class="col-md-6"> <span>Card Payment</span> </div>
                                                <div class="col-md-6 text-right" style="margin-top: -5px;"> <img src="https://img.icons8.com/color/36/000000/visa.png"> <img src="https://img.icons8.com/color/36/000000/mastercard.png"> <img src="https://img.icons8.com/color/36/000000/amex.png"> </div>
                                            </div>
                                            <div class="form-group"> <label for="cc-number" class="control-label">CARD NUMBER</label> <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••"> </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group"> <label for="cc-exp" class="control-label">CARD EXPIRY</label> <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••"> </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group"> <label for="cc-cvc" class="control-label">CARD CVC</label> <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="••••"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group"> <label for="numeric" class="control-label">CARD HOLDER NAME</label> <input type="text" class="input-lg form-control"> </div>
                                        }

                                        <div class="form-group"> <input value="Join @Model.Name" type="submit" class="btn btn-info btn-lg form-control" style="font-size: .8rem;"> </div>
                                    </form>

                                </div>
                            </div>
                        }

                    }
                </div>
            </div>

        </div>
    </div>   
</div>

@if (isAdmin)
{
<div class="mt-5">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="setting-tab" data-toggle="tab" href="#setting" role="tab" aria-controls="setting" aria-selected="true">Club Settings</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab" aria-controls="schedule" aria-selected="false">Club Schedule</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="meeting-tab" data-toggle="tab" href="#meeting" role="tab" aria-controls="contact" aria-selected="false">Club Meetings</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active mt-4" id="setting" role="tabpanel" aria-labelledby="setting-tab">
            <h4>Manage Club Settings</h4>
            <hr />
            <div class="row">
                <div class="col-4">
                    <form method="POST" asp-controller="Home" asp-action="LinkClubAdmin">
                        <div class="form-group">
                            <input type="hidden" name="ClubId" value="@Model.Id" />
                            <label>Select club member</label>
                            <select class="form-control" name="UserId" required>
                                <option value="">Select a club member</option>
                                @foreach (var member in club_members)
                                {
                                    <option value="@member.UserId">@member.User.Email</option>
                                }
                            </select>
                        </div>

                        <button class="btn btn-info">Save Changes</button>
                    </form>

                    <table class="table table-bordered mt-5">
                        <thead>
                            <tr>
                                <th>Administrators</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var admin in club_members.Where(e => e.HasClubAdminRole))
                            {
                                <tr>
                                    <td>@admin.User.Email</td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">


        </div>
        <div class="tab-pane fade mt-4" id="meeting" role="tabpanel" aria-labelledby="meeting-tab">
            <h4>Manage Meetings</h4>
            <hr />
            <div class="row">
                <div class="col-4">
                    <form method="post"  asp-controller="Home" asp-action="CreateMeeting">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="ClubId" value="@Model.Id" />
                        <div class="form-group">
                            <label class="control-label">Title</label>
                            <input type="text" name="SessionTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            @Html.DropDownList("LocationId", new SelectList(_locationService.GetAll(), "Id", "Name"), "Select Location", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Capacity</label>
                            <input type="number" name="Capacity" class="form-control" />
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Virtual" /> Virtual
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Meeting Link</label>
                            <input type="text" name="VirtualLink" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Meeting Day</label>
                            @Html.DropDownList("ClubDay", new SelectList(Options.GetLookups("days"), "Id", "ValueText"), "Select Day", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Start Time</label>
                            @Html.DropDownList("ClubStartTime", new SelectList(Options.GetLookups("times"), "Id", "ValueText"), "Select Start Time", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">End Time</label>
                            @Html.DropDownList("ClubEndTime", new SelectList(Options.GetLookups("times"), "Id", "ValueText"), "Select End Time", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Expires</label>
                            <input type="date" name="ExpirationDate" class="form-control" />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="col-8">


                </div>

            </div>

        </div>
    </div>
</div>
}


@section Scripts{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/3.0.0/jquery.payment.min.js"></script>
    <script>
        $(function ($) {
            $('[data-numeric]').payment('restrictNumeric');
            $('.cc-number').payment('formatCardNumber');
            $('.cc-exp').payment('formatCardExpiry');
            $('.cc-cvc').payment('formatCardCVC');
            $.fn.toggleInputError = function (erred) {
                this.parent('.form-group').toggleClass('has-error', erred);
                return this;
            };

            if ($('.HasMembershipFee').val() == 1) {
                $('.cc-number').prop("required", true);
                $('.cc-exp').prop("required", true);
                $('.cc-cvc').prop("required", true);
            }


        });
    </script>
}