@using DataAccess.Models;
@model IEnumerable<Message>;
@using Microsoft.AspNetCore.Identity;
@using DataAccess.Utils;
@inject UserManager<ApplicationUser> _usrManager;
@{
    ViewData["Title"] = "Messages";
    ApplicationUser usr = null;
    if (User.Identity.IsAuthenticated)
    {
        usr = await _usrManager.FindByNameAsync(User?.Identity?.Name);
        
    }
}

@section Styles{
    <link rel="stylesheet" href="~/css/chatbox.css" />
}

<div class="row">

    <div class="col-md-12">
        <!-- DIRECT CHAT PRIMARY -->
        <div class="box box-primary direct-chat direct-chat-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Direct Chat</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    @if (Model.Any())
                    {
                        @foreach (var message in Model)
                        {
                            if (message.SenderId != usr.Id)
                            {
                                <div class="direct-chat-msg right">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-left">@(Utility.GetUserNames(message.SenderId))</span>
                                        <span class="direct-chat-timestamp pull-right">@message.CreatedAt</span>
                                    </div>
                                    <!-- /.direct-chat-info -->

                                    <div class="direct-chat-text">
                                        @message.MessageBody
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                            }
                            else
                            {

                                <div class="direct-chat-msg">
                                    <div class="direct-chat-info clearfix">
                                        <span class="direct-chat-name pull-right">@(usr.FirstName+" "+usr.LastName)</span>
                                        <span class="direct-chat-timestamp pull-left">@message.CreatedAt</span>
                                    </div>
                                    <!-- /.direct-chat-info -->
                                    <div class="direct-chat-text">
                                        @message.MessageBody
                                    </div>
                                    <!-- /.direct-chat-text -->
                                </div>
                            }

                        }
                    }

                    <!-- /.direct-chat-msg -->
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <form asp-controller="Message" asp-action="index" method="post">
                    <div class="input-group">
                        <input type="text" name="MessageBody" placeholder="Type Message ..." class="form-control">
                        <input type="hidden" name="SenderId" value="@ViewBag.sender_id" />
                        <input type="hidden" name="RecipientId" value="@ViewBag.recipient_id" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary btn-flat">Send</button>
                        </span>
                    </div>
                </form>
            </div>
            <!-- /.box-footer-->
        </div>
        <!--/.direct-chat -->
    </div>

</div>